In [11]:
import pandas as pd
import numpy as np
from  sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [12]:
ds = pd.read_csv('play_data.csv')
ds

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [13]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
ds["outlook"]=le.fit_transform(ds["outlook"].astype(str))
ds["temp"]=le.fit_transform(ds["temp"].astype(str))
ds["humidity"]=le.fit_transform(ds["humidity"].astype(str))
ds["wind"]=le.fit_transform(ds["wind"].astype(str))
ds["play"]=le.fit_transform(ds["play"].astype(str))

In [14]:
x = ds.iloc[:,1:5]
y = ds.iloc[:,5]
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0,test_size = 0.3)

In [15]:
x_train

    outlook  temp  humidity  wind
13        1     2         0     0
9         1     2         1     1
1         2     1         0     0
7         2     2         0     1
10        2     2         1     0
3         1     2         0     1
0         2     1         0     1
5         1     0         1     0
12        0     1         1     1

In [16]:
cls=GaussianNB()
cls.fit(x_train,y_train)

GaussianNB()

In [17]:
y_pred=cls.predict(x_test)
y_pred

array([0, 0, 0, 1, 1])

In [18]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[0, 0],
       [3, 2]], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.4